
.contanier{
    display: flex;
    background-color: darkblue;
}

.contanier div{
    margin: 10px;
    padding: 20px;
    background-color: white;
    font-size: 35px;
}
.contanier div:nth-child(1){
    order: 2;
}
.contanier div:nth-child(2){
    order: 3;
}
.contanier div:nth-child(3){
    order: 0;
}
.contanier div:nth-child(4){
    order: 1;
}
.contanier div:nth-child(1){
    flex-grow: 4;
}
.contanier2{
    display: flex;
    background-color: darkblue;
    flex-direction: column;
}
.contanier2 div{
    margin: 10px;
    padding: 20px;
    background-color: white;
    font-size: 35px;
}
.contanier3{
    display: flex;
    background-color: darkblue;
    flex-direction: row;
    flex-wrap: wrap;
}
.contanier3 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    width: 40%;
}
.contanier4{
    display: flex;
    background-color: darkblue;
    flex-direction: row;
    justify-content: space-between;
}
.contanier4 div{
    background-color: white;
    margin: 10px;
    padding: 20px;  
}

.contanier5{
    display: flex;
    background-color: darkblue;
    flex-direction: row;
    height: 200px;
    align-items: center;
}
.contanier5 div{
    background-color: white;
    margin: 10px;
    padding: 20px;  
} 

