body{
    background-color: lightblue;
}
.navbar a{
    color: rgb(68, 240, 25);
    font-size: 30px;
    display: flex;
    justify-content: flex-end;

}
.logo{
    margin-left: 350px;
    margin-top: 60px;
    height: 100px;
    width: 50px;
    
}
.logo1{
    margin-left: 650px;
    margin-top: -150px;
    height: 100px;
    width: 50px;
    
}
.logo2{
    margin-left: 880px;
    margin-top: -130px;
    height: 100px;
    width: 50px;

}
.logo3{
    
    margin-left: 1200px;
    margin-top: -130px;
    height: 100px;
    width: 50px;
}
.p{
    margin-left: -750px;
    margin-top: 40px;

}
.p1{
    margin-left: -200px;
    margin-top: -100px;
}
.p2{
    margin-left: 300px;
    margin-top: -103px;
}
.p3{
    margin-left: 900px;
    margin-top: -103px;
}

.titul{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    text-align: center;
    margin-top: -455px;
    gap: 80px;
    margin-left: 350px;

}